form{
    padding: 2rem;
    margin:auto
}

input{
    padding: 1rem;
    margin-top: 15px;
}

button{
    margin-top: 15px;
    /* text-align: center; */
    cursor: pointer;
    margin-left: 35px;
}

